<html ng-app="scotchTodo">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- load bootstrap -->
    <style>
        html {
            overflow-y: scroll;
        }
        
        body {
            padding-top: 50px;
        }
        
        #todo-list {
            margin-bottom: 30px;
        }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <!-- load angular -->
    <script src="../javascripts/core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->

<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
        </div>



        <div class="col-md-6">

            <form class="text-center">
                <div class="form-group">

                    <input class="form-control input-lg " type="email" placeholder="email" ng-model="user.username">
                    <input class="form-control input-lg " type="password" placeholder="password" ng-model="user.password">

                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="authenticate()">Login</button>
            </form>
        </div>

        <div class="col-md-6">
            <form class="text-center">
                <div class="form-group">
                    <input class="form-control input-lg " type="text" placeholder="name" ng-model="user.name">
                    <input class="form-control input-lg " type="email" placeholder="email" ng-model="user.username">
                    <input class="form-control input-lg " type="password" placeholder="password" ng-model="user.password">

                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="signUp()">Register</button>
            </form>
        </div>




    </div>

</body>

</html>