div 
    p this is a name

    form action ="/authenticate", method='post'
        input type='email'
        //-  input (type='password', placeholder="password",name="password")
        //-  button (type="submit" ,value="submit") submit